.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}
.navbar {
  height: 95px;
  width: 100%;
  background-color: rgb(117, 137, 145);
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 22px;
  box-sizing: border-box;
}
.titleContainer {
  margin-left: 30px;
}
.title {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #eee;
}
.links {
  display: flex;
  gap: 13px;
  margin-right: 20px;
}
.inactive {
  color: #eee;
  text-decoration: none;
  padding: 5px;
}
.active {
  color: rgb(219, 212, 212);
  text-decoration: none;
  background-color: rgb(110, 127, 134);
  padding: 7px;
  border-radius: 10px;
}
.homePage {
  display: flex;
  flex-direction: column;
  height: 84vh;
  justify-content: space-around;
  gap: 7px;
  align-items: center;
  font-size: 20px;
  color: #3e3e3e;
}
.homePage img {
  border-radius: 50px;
}
.homePageFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  gap: 3px;
}
.homePageTitle {
  font-weight: bold;
}
.homePageSmallText {
  font-size: 20px;
}
.productPage {
  display: flex;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  transition: transform 200ms;
}
.product:hover {
  transition: transform 200ms;
  transform: scale(1.1);
}
.product:active {
  transition: transform 200ms;
  transform: scale(1.2);
}
.product img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}
.productsTitle {
  font-weight: 600;
}
.productDetail {
  margin-top: 10px;
  height: 80vh;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #3e3e3e;
  border: #3e3e3e 5px solid;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}
.productDetail img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}
.productDetailName {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.productDetailPrice {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 10px 0px;
}
.productDetailQuantity {
  font-size: 20px;
  font-weight: 700;
}
.productDetailButtons {
  color: #eee;
  background-color: #3e3e3e;
  border: #3e3e3e 1px solid;
  font-size: 17px;
  height: 25px;
}
.productDetailButtons:hover {
  filter: brightness(0.9);
}
.productDetailButtons:active {
  filter: brightness(0.8);
}
.productDetailSubmit {
  width: 200px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  align-self: flex-end;
  color: #eee;
  background-color: #3e3e3e;
  border: #3e3e3e 1px solid;
  border-radius: 20px;
}
.productDetailSubmit:hover {
  filter: brightness(0.9);
}
.productDetailSubmit:active {
  filter: brightness(0.8);
}
.projectDetailInput {
  font-size: 18px;
  border: #3e3e3e 1px solid;
  outline: none;
}
.projectDetailBack {
  align-self: flex-end;
  width: 80px;
  font-size: 20px;
  background-color: #eee;
  color: black;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
}
.projectDetailBack:hover {
  filter: brightness(0.9);
}
.projectDetailBack:active {
  filter: brightness(0.8);
}
.productForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartPage{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
}
.cartItemsContainer{
  overflow: auto;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartItem img{
  width: 150px;
  height: 110px;
  border-radius: 20px;
  object-fit: cover;
}
.cartItem{
  display: flex;
  flex-direction: column;
  border: #3e3e3e 4px solid;
  border-radius: 15px;
  margin: 15px;
  width:50%;
  padding: 10px;
}
.removeButton{
  align-self: flex-end;
  margin: 0;
  background-color: tomato;
  color: black;
  border: 1px solid black;
  font-weight: 500;
  border-radius: 5px;
}
.removeButton:hover {
  filter: brightness(0.9);
}
.removeButton:active {
  filter: brightness(0.8);
}
.cartItemContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartItemFirst{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  font-weight: 600;
}
.cartItemLeft{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cartItemQuantity{
  font-weight: normal;
  font-size: 20px;
}
.cartItemRight{
  display: flex;
  flex-direction: column;
}
.checkoutContainer{
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-right: 150px;
  flex-direction: column;
  font-size: 30px;
  font-weight: 600;
}
.aboutPage{
  height:80vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #3e3e3e;
}
.aboutPage img{
  height: 350px;
  border-radius:30px;
}
.aboutTitle{
  font-size: 23px;
}
.quote{
  display: block;
  font-weight: lighter;
  font-size: 16px;
}
.footnote{
  font-weight: normal;
  font-size: 17px;
}